* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background 0.2s ease, color 0.2s ease;
}

:root {
  --background: #F7F7F7;
  --text: #1A1A1A;
}

[data-theme='dark'] {
  --background: #121212;
  --text: #FFFFFF;
}
	

